<!-- app/views/houses/edit.html.erb -->

<div class="row">
  <%= form_tag house_path(@house), :method => "put", :id => "house_form", :class=>"form-horizontal" do %>
    <div class="col-md-6 p-sm">
      <div class="ibox">
      <div class="ibox-title">
        <h4>House Settings</h4>
      </div>
        <div class="ibox-content-theme">
          <%= render "house_form" %>
        </div>
      </div>
    </div>
    
    <div class="col-md-6 p-sm">
      <div class="ibox">
      <div class="ibox-title">
        <h4>Landlord Contact</h4>
        <!--<div class="m-r-mdd form-group btn-group m-b-none pull-right" data-toggle="buttons">-->
        <div class="ibox-tools add-landlord-link" id="<%= @house.id %>">
          <%= link_to (fa_icon("plus") ).html_safe, add_landlord_path, class:"btn btn-primary btn-xs" %>
        </div>
      </div>
        <div class="ibox-content-theme">
          <%= render "landlord_form" %>
        </div>
      </div>
    </div>
  <% end %>
</div>