<div class="ibox">
  <div style="padding-bottom: 50px;" class="ibox-title">
    <div class="form-group btn-group m-b-none pull-right" data-toggle="buttons">
        <label class="btn btn-default split-method split-method-<%= @expense ? 'inactive' : 'active active'%>" id="split-method-equal">
          <input type="radio" value="equal" />
          =
        </label>
        <label class="btn btn-default split-method split-method-<%= @expense ? 'active active' : 'inactive'%>" id="split-method-dollars">
          <input type="radio" value="dollars" />
          $
        </label>
        <label class="btn btn-default split-method split-method-inactive" id="split-method-percent">
          <input type="radio" value="percent" />
          %
        </label>
        <label class="btn btn-default split-method split-method-inactive" id="split-method-unit">
          <input type="radio" value="unit" />
          <i class="fa fa-th"></i>
        </label>
      </div>
    <h5 style="padding-bottom: 15px;">Charge calculator</h5>
  </div>
  
  <% current_house_members.each_with_index do |user, i| %> 
    <div class="ibox-content p-xxs">
      <div class="table-responsive">
        <table class="table shoping-cart-table">
          <tbody><tr class="split-row <%= !@charges or (@charges and @charges[user]) ? 'user-paying': 'user-not-paying' %>">
            <td class="col-md-1"><i class="fa fa-check-square-o split-checkbox split-checkbox-font"></i></td>
            <td class="col-md-5 desc"><h3><div class="text-navy"><label for="user-<%= i %>"><%= user.full_name %></label></div></h3></td>
            <td class="col-md-3">
              <div class="input-group split-col-hidden hidden split-method-percent split-method-unit">
                <input class="form-control user-share" type="text"/>
                <span class="input-group-addon split-col-hidden hidden split-method-percent">%</span>
                <span class="input-group-addon split-col-hidden hidden split-method-unit">units</span>
              </div>
            </td>
            <td class="col-md-3">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input class="form-control user-amount" type="text" name="charges[users][<%= user.id %>]"
                  value="<%= @charges[user].amount if @charges and @charges[user] %>">
              </div>
              
              <div class="input-group hidden">
                <span class="input-group-addon">$</span>
                <input class="form-control user-original-amount" type="text" 
                  value="<%= @charges and @charges[user] ? @charges[user].amount : 0 %>">
              </div>
              
            </td>
          </tr></tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
  
  
  
<script>
  $(document).ready(function() {
    
    editMode = $("#split-method-dollars").hasClass("active");
    
    var calculateCharges = function() {
      var splitMethod = $(".split-method-active").attr("id");
      if (splitMethod == "split-method-equal") {
        calculateEqualCharges();
      } else if (splitMethod == "split-method-dollars") {
        displayDollarCharges();
      } else {
        calculatePercentOrUnitCharges(splitMethod);
      }
    }
    
    var calculateEqualCharges = function() {
      var numUsers = $(".user-paying").length;
      var equalAmount = $("#amount").val() / numUsers;
      $(".user-paying").find(".user-amount").val(equalAmount);
      $(".user-not-paying").find(".user-amount").val(0);
    };
    
    var calculatePercentOrUnitCharges = function(splitMethod) {
      // Calculate unit price
      if (splitMethod == "split-method-percent") {
        var totalUnits = 100;
      } else {
        var totalUnits = 0;
        $(".user-paying").find(".user-share").each(function() {
          totalUnits += Number($(this).val());
        });
      }
      var unitPrice = 0;
      if (totalUnits != 0) {
        unitPrice = $("#amount").val() / totalUnits;
      }
      
      // unchecked: fill shares with 0, fill amount with 0
      $(".user-not-paying").find(".user-share").val(0);
      $(".user-not-paying").find(".user-amount").val(0);
      
      // checked: fill shares with "" if 0, fill amount
      $(".user-paying").each(function() {
        var unitsInput = $(this).find(".user-share");
        if (unitsInput.val() == 0) {
          unitsInput.val("");
        }
        $(this).find(".user-amount").val(unitPrice * unitsInput.val());
      });
      calculateAmountRemaining(100, ".user-share");
    }
    
    var displayDollarCharges = function() {
      $(".user-not-paying").find(".user-amount").val(0);
      $(".user-paying").find(".user-amount").each(function() {
        if ($(this).val() == 0) {
          $(this).val("")
        }
      });
      calculateAmountRemaining($("#amount").val(), ".user-amount");
    }
    
    var calculateAmountRemaining = function(total, inputClass) {
      var totalAssigned = 0;
      $(".user-paying").find(inputClass).each(function() {
        totalAssigned += Number($(this).val());
      });
      var amountRemaining = total - totalAssigned;
    }
    
    // Re-calculate amount remaining when user-amount changes (split-method-dollars)
    $(".user-amount").change(function() {
      calculateAmountRemaining($("#amount").val(), ".user-amount")
    });
    
    // Update charge table when user is selected or unselected
    $(".split-checkbox").click(function() {
      $(this).toggleClass("fa-check-square-o fa-square-o");
      $(this).parents(".split-row").toggleClass("user-paying user-not-paying");
      calculateCharges();
    });
    
    // Re-calculate charges when total amount changes
    $("#amount").change(calculateCharges);
    
    // Re-calculate charges when percent/unit amount changes
    $(".user-share").change(calculateCharges);
    
    // Change split method
    $(".split-method").click(function() {
      // hide any percent or unit specific elements
      $(".split-col-showing").toggleClass("hidden");
      $(".split-col-showing").toggleClass("split-col-showing split-col-hidden");
      
      var splitMethod = $(this).attr("id");
      
      // show percent/unit specific elements if percent/unit method chosen
      $("." + splitMethod).toggleClass("hidden");
      $("." + splitMethod).toggleClass("split-col-showing split-col-hidden");
      
      // set or unset readonly on dollar amount input
      if ((splitMethod == "split-method-equal" || splitMethod == "split-method-dollars") && $(".user-amount").attr("readonly")) {
        $(".user-amount").attr("readonly", false);
      } else if ((splitMethod == "split-method-percent" || splitMethod == "split-method-unit") && !$(".user-amount").attr("readonly")) {
        $(".user-amount").attr("readonly", true);
      }
      
      // switch active split method and recalculate charges
      $(".split-method-active").toggleClass("split-method-active split-method-inactive");
      $(this).toggleClass("split-method-active split-method-inactive");
      
      if (!editMode) {
        $(".user-amount").val("");
        $(".user-share").val("");
        calculateCharges();
      }
      
    });
    
  });
</script>