<table class="table table-responsive charge-details-table <%= 'paid-by-user' if @expense.paid_by == current_user %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Completed</th>
      <th>
        <button class="send-reminder-button pull-right btn btn-sm btn-primary btn-block" id="<%= @expense.id %>" type="button">Send Reminders</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <% current_house_members.each do |user| %> 
      <% charge = @expense.charges.find_by_user_id(user.id) %>
      <% if  charge %>
        <tr>
          <td><%= charge.charged_to.full_name if charge.charged_to %></td>
          <td><%= charge.amount_formatted %></td>
          <td>
            <span class="charge-status glyphicon glyphicon-<%= charge.completed ? 'ok' : 'remove' %>" id='<%= charge.id %>'></span>
          </td>
          <td>
            <input type="checkbox"
                   class="reminder-checkbox"
                   id="<%= charge.id %>"
                   <%= 'checked' if !charge.completed %>
                   <%= 'disabled' if charge.completed %>/>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {
    
    paidByUserMode = $("#charge-details-table").hasClass("paid-by-user");

    if (paidByuserMode) {
      // Update charge status when completed box is clicked
      $(".charge-status").click(function() {
        var mark_completed = $(this).hasClass("glyphicon-remove");
        $.ajax({
          type: "GET",
          url: '/charges/update_status/' + $(this).attr("id"),
          data: {completed: mark_completed},
          context: $(this),
          success: function(result) {
            $(this).toggleClass("glyphicon-ok glyphicon-remove");
            var checkbox = $("#" + $(this).attr("id") + ".reminder-checkbox");
            if (checkbox.attr('disabled') != undefined) {
              checkbox.removeAttr("disabled")
            } else {
              checkbox.removeAttr("checked")
              checkbox.attr("disabled", true)
            }
          }
        });
      });
    }

    // Send reminders for all checked charges
    $(".send-reminder-button").click(function() {
      var expense_id = $(this).attr("id");
      var charges = []
      $(".reminder-checkbox:checkbox:checked").each(function() {
        charges.push($(this).attr("id"));
      });

      $.ajax({
        type: "GET",
        url: '/twilio/send_reminders/' + expense_id,
        data: {charge_ids: charges},
        success: function(result) {
          // display "reminders have been sent"
        }
      });
    });

  })
</script>
