<div class="ibox-content p-xxs">
  <div class="table-responsive">
    <table class="table shoping-cart-table">
      <tbody><tr>
        <td class="col-md-3">Name</td>
        <td class="col-md-9"><%= @expense.name %></td>
      </tr></tbody>
    </table>
  </div>
</div>

<div class="ibox-content p-xxs">
  <div class="table-responsive">
    <table class="table shoping-cart-table">
      <tbody><tr>
        <td class="col-md-3">Amount</td>
        <td class="col-md-9"><%= @expense.amount_formatted %></td>
      </tr></tbody>
    </table>
  </div>
</div>

<div class="ibox-content p-xxs">
  <div class="table-responsive">
    <table class="table shoping-cart-table">
      <tbody><tr>
        <td class="col-md-3">Date</td>
        <td class="col-md-9"><%= @expense.date_formatted %></td>
      </tr></tbody>
    </table>
  </div>
</div>

<div class="ibox-content p-xxs">
  <div class="table-responsive">
    <table class="table shoping-cart-table">
      <tbody><tr>
        <td class="col-md-3">Category</td>
        <td class="col-md-9"><%= @expense.category %></td>
      </tr></tbody>
    </table>
  </div>
</div>
<div class="ibox-content p-xxs">
  <div class="table-responsive">
    <table class="table shoping-cart-table">
      <tbody><tr>
        <td class="col-md-3">Details</td>
        <td class="col-md-9"><%= @expense.details %></td>
      </tr></tbody>
    </table>
  </div>
</div>

<div class="ibox-content p-xxs">
  <div class="table-responsive">
    <table class="table shoping-cart-table">
      <tbody><tr>
        <td class="col-md-3">Deadline</td>
        <td class="col-md-9"><%= @expense.deadline_formatted %></td>
      </tr></tbody>
    </table>
  </div>
</div>
