<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Completed</th>
      <th>
        <button class="send-reminder-button pull-right btn btn-sm btn-primary btn-block" id="<%= @expense.id %>" type="button">Send Reminders</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @expense.charges.each do |charge| %>
      <tr>
        <td><%= charge.charged_to.full_name if charge.charged_to %></td>
        <td>$<%= charge.amount %></td>
        <td>
          <span class="charge-status glyphicon glyphicon-<%= charge.completed ? 'ok' : 'remove' %>" id='<%= charge.id %>'></span>
        </td>
        <td>
          <input type="checkbox"
                 class="reminder-checkbox"
                 id="<%= charge.id %>"
                 <%= 'checked' if !charge.completed %>
                 <%= 'disabled' if charge.completed %>/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function() {

    // Update charge status when completed box is clicked
    $(".charge-status").click(function() {
      var mark_completed = $(this).hasClass("glyphicon-remove");
      $.ajax({
        type: "GET",
        url: '/charges/update_status/' + $(this).attr("id"),
        data: {completed: mark_completed},
        context: $(this),
        success: function(result) {
          $(this).toggleClass("glyphicon-ok glyphicon-remove");
          var checkbox = $("#" + $(this).attr("id") + ".reminder-checkbox");
          if (checkbox.attr('disabled') != undefined) {
            checkbox.removeAttr("disabled")
          } else {
            checkbox.removeAttr("checked")
            checkbox.attr("disabled", true)
          }
        }
      });
    });

    // Send reminders for all checked charges
    $(".send-reminder-button").click(function() {
      expense_id = $(this).attr("id")
      charges = $(".reminder-checkbox:checkbox:checked").attr("id")
      $.ajax({
        type: "GET",
        url: '/twilio/send_reminders/' + expense_id,
        data: {charge_ids: charges},
        success: function(result) {
          // display "reminders have been sent"
        }
      });
    });

  })
</script>
