<!-- app/views/expenses/edit.html.erb -->

<div class="row">
  <%= form_tag expense_path(@expense), :method => "put", :id => "expense_form", :class=>"form-horizontal" do %>
  <div class="col-md-4 p-sm">
    <div class="ibox">
    <%= render "expense_form_title" %>
      <div class="ibox-content-theme">
        <%= render "expense_form" %>
      </div>
    </div>
  </div>

  <div class="col-md-8 p-sm">
    <div class="ibox">
      <%= render "charge_form_title" %>
      <div class="ibox-content-theme">
        <%= render "charge_form" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
