<!-- app/views/expenses/index.html.erb -->
<h4>Recent Expenses</h4>
<button type="button" class="btn btn-small pull-right ">
  <span class="glyphicon glyphicon-plus"></span><%= link_to 'Add Expense', new_expense_path %>
</button> 

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Paid By</th>
      <th>Category</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% Expense.all.each do |expense| %>
      <tr>
        <td><%= expense.name %></td>
        <td>$<%= expense.amount %></td>
        <td><%= expense.date %></td>
        <td><%= expense.paid_by.first_name if expense.paid_by %></td>
        <td><%= expense.category %></td>
        <td>
          <button type="button" class="btn btn-small pull-right ">
            <%= link_to 'View', expense_path(expense) %>
          </button> 
          <button type="button" class="btn btn-small pull-right ">
            <%= link_to 'Edit', edit_expense_path(expense) %>
          </button> 
          <button type="button" class="btn btn-small pull-right ">
            <%= link_to 'Delete', expense_path(expense), :method => "delete" %>
          </button> 
        </td>
        <!--<td><%= expense.details %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>  