<!-- app/views/expenses/index.html.erb -->
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInUp">

      <div class="ibox">
        <div class="ibox-title">
          <h5>Expenses</h5>
          <div class="ibox-tools">
            <%= link_to ('Add Expense  ' + fa_icon("plus") ).html_safe, new_expense_path, class:"btn btn-primary btn-xs" %>
          </div>
        </div>
        <div class="ibox-content">
          <!--<div class="row m-b-sm m-t-sm">-->
          <!--  <div class="col-md-1">-->
          <!--    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm"><i class="fa fa-refresh"></i> Refresh</button>-->
          <!--  </div>-->
          <!--  <div class="col-md-11">-->
          <!--    <div class="input-group">-->
          <!--      <input type="text" placeholder="Search" class="input-sm form-control"> -->
          <!--      <span class="input-group-btn">-->
          <!--        <button type="button" class="btn btn-sm btn-primary"> Go!</button>-->
          <!--      </span>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->

        <div class="project-list">

          <table class="table table-hover">
            
            <tbody>
              <% Expense.all.each do |expense| %>
              <tr>
                <td class="project-status">
                  <% if expense.overdue? %>
                    <span class="label label-warning">Overdue</span>
                  <% elsif expense.completed? %>
                    <span class="label label-primary">Completed</span>
                  <% else %>
                    <span class="label label-info">Pending</span>
                  <% end %>
                </td>
                <td class="project-title">
                  <%= link_to expense.name, expense_path(expense) %>
                  <br />
                  <small>Created <%= expense.date_formatted %> by <%= expense.paid_by.first_name_initial %></small>
                  <% if expense.deadline %>
                    <br />
                    <small>Due <%= expense.deadline_formatted %></small>
                  <% end %>
                </td>
                <td class="project-completion">
                  <small><%= expense.percent_complete %>% Complete</small>
                  <div class="progress progress-mini">
                    <div style="width: <%= expense.percent_complete %>%;" class="progress-bar"></div>
                  </div>
                </td>
                <td class="project-people">
                  <% for charge in expense.charges %>
                    <a href="<%= user_path(charge.charged_to) %>"><img alt="image" class="img-circle avatar-paid" src="<%= charge.charged_to.avatar.url %>"></a>
                  <% end %>
                </td>
                <td class="project-actions">
                  <%= link_to  ('Edit ' + fa_icon("pencil") ).html_safe, edit_expense_path(expense), {:class => "btn btn-info btn-xs"} %>
                  <%= link_to ('Delete ' + fa_icon("trash") ).html_safe,  expense_path(expense), {:method => "delete", :class => "btn btn-danger btn-xs"} %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


