<!-- app/views/expenses/show.html.erb -->

<div class="row">
  <%= form_tag '', :id => "expense_form", :class=>"form-horizontal" do %>
  <div class="col-md-4 p-sm">
    <div class="ibox">
      
      <div class="ibox-title">
        <h4>Expense Details</h4>
      </div>
      
      <div class="ibox-content-theme"> 
        <%= render "expense_details" %>
        
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table shoping-cart-table">
              <tbody><tr>
                <td class="col-md-6">
                  <%= link_to 'Edit', edit_expense_path(@expense), :class => "pull-right btn btn-sm btn-warning btn-block", :type => "button" %> 
                </td>
                <td class="col-md-6">
                  <%= link_to 'Delete', expense_path(@expense), :method => "delete", :class => "pull-right btn btn-sm btn-danger btn-block", :type => "button" %>
                </td>
              </tr></tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="col-md-8 p-sm">
    <div class="ibox">
      <div class="ibox-title">
        <h4>Breakdown</h4>
      </div>
      <div class="ibox-content-theme"> 
        <%= render "expense_breakdown" %>
      </div>
    </div>
  </div>
  
  <% end %>
</div>

  
