<p id="notice"><%= notice %></p>

<p>
  <strong>Completed:</strong>
  <%= @charge.completed %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @charge.amount_formatted %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
